body {
    background-image: linear-gradient(MidnightBlue, HotPink);
    min-height: 100vh;
    width: 100%;
}

#container {
    min-width: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title {
    text-align: center;
}
.titleText {
    color: mintcream;
    font-size: 80px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    padding-bottom: 50px;
    margin: 20px;
}
.gameUI {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: mintcream;
    text-align: center;
    height: 350px;
    box-shadow:  0px 0px 30px 50px MintCream;
}

button {
    background-color: mintcream;
    
    background-image: linear-gradient(-91deg, hotpink, MidnightBlue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    border-radius: 10px;
    border: 1px solid mintcream;
    padding: 10px 20px;

}
button:hover {
    background-image: linear-gradient(mintcream, MintCream) ;
    background: linear-gradient(to left, MidnightBlue, HotPink);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
}

#yesBtn {
    margin-right: 25px;
}

